body {
    width: 1000px;
    margin: 1em auto;
    font-family: "Lucida Sans", Verdana, sans-serif;
}

form {
    display: contents;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 2em;
    color: white;
    background-color: #0074cc;
}

nav a:hover {
    background-color: #00589e;
}

nav a.corrente {
    box-shadow: 5px 5px 5px #3c1585;
}

div.info {
    border: black;
    border-style: solid;
    border-radius: 20px;
}

/* estilos.css */

div#navigation {
    margin-top: 20px;
    /* Ajuste conforme necessário */
}

div#navigation form {
    display: inline;
}

div#navigation input[type="submit"] {
    background-color: #4CAF50;
    /* Cor de fundo do botão */
    color: white;
    /* Cor do texto do botão */
    padding: 10px 20px;
    /* Espaçamento interno do botão */
    font-size: 16px;
    /* Tamanho da fonte do texto do botão */
    cursor: pointer;
    /* Altera o cursor ao passar por cima */
    border: none;
    /* Remove a borda padrão do botão */
    border-radius: 5px;
    /* Borda arredondada */
}

div#navigation input[type="submit"]:hover {
    background-color: #45a049;
    /* Cor de fundo do botão ao passar por cima */
}

#user-info {
    display: inline;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

#user-info p {
    display: inline;
    margin: 0;
    /* Remove a margem padrão do parágrafo */
    padding-right: 10px;
    font-weight: bold;
    /* Texto em negrito */
}

#user-info a {
    text-decoration: none;
    /* Remove o sublinhado do link */
    color: #007bff;
    /* Cor do link */
}

#user-info a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse sobre o link */
}

input[value="Like"] {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

input[value="Like"]:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

input[value="Dislike"] {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}

input[value="Dislike"]:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}

div.like {
    position: absolute;
    top: 20px;
    right: 20px;

    font-size: 18px;

    padding: 14px 22px;
    border: 1px solid transparent;
    border-radius: 5px;

    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.personagem form {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

div.personagem {
    border: 1px solid #C0C0C0;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    display: inline-grid;

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 5px 5px 15px #606060;

    width: 24%;
    flex-basis: auto;
}

a.ranking-link {
    display: block;
    margin-top: 20px;
    color: white;
    background-color: #0074cc;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

a.ranking-link:hover {
    background-color: #00589e;
}

div.personagem span {
    background-color: #3c1585;
    text-align: center;
    color: aliceblue;
}

form#getUsername {
    margin-top: 20px;
}

form#getUsername label {
    display: block;
    margin-bottom: 5px;
}

form#getUsername input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form#getUsername input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form#getUsername input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
}

p a {
    color: #0074cc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

form#register {
    margin-top: 20px;
}

form#register label {
    display: block;
    margin-bottom: 5px;
}

form#register input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form#register input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form#register input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin-top: 10px;
}

p a {
    color: #0074cc;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}